*{
    margin: 0;
    padding: 0;
    background-color: rgb(63, 58, 58);
}
#canv{
    background: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px ridge white;
    box-sizing: initial;

}